img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}<<<<<< HEAD
h1{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}
#para1, #para2 {
    font-size: 15px;
}